<div class="search-main">   
    <div class="search-container myflex">
        <div class="input-container">
            <p-floatlabel>
                <input id="searchBy" [(ngModel)]="searchValue" pInputText/>
                <label for="searchBy" ngModel="">Search</label>
            </p-floatlabel>
        </div>
        <div class="search-button-container">
            <p-splitbutton label="{{this.selectSearchBy}}" (onClick)="search()" [model]="items" severity="success" />
        </div>
    </div> 
    <p-toast/>
    <div class="card" *ngIf="searchResults.length > 0">
        <p-table [value]="searchResults"
                 selectionMode="single" 
                 [tableStyle]="{ 'min-width': '60rem' }"
                 [paginator]="true"
                 [rows]="4" 
                 dataKey="birdId">
            <ng-template #caption>
                <div class="flex items-center justify-between">
                    <span>Search Results</span>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th style="width: 5rem"></th>
                    <th>Name</th>
                    <th>Scientific Name</th>
                    <th>Preview</th>
                </tr>
            </ng-template>
            <ng-template #body let-bird>
                <tr>
                    <td>
                        <p-button type="button" pRipple [pRowToggler]="bird" [text]="true" [rounded]="true" [plain]="true" [icon]="'pi pi-chevron-down'" />
                    </td>
                    <td>{{ bird.name }}</td>
                    <td>{{ bird.scientificName }}</td>
                    <td>
                        <img
                            src="/bird/main/{{bird.img}}"
                            [alt]="bird.name"
                            class="bird-item-image"
                        />
                    </td>
                </tr>
            </ng-template>
            <ng-template #expandedrow let-bird>
                <div>
                    <p>{{bird.birdFact.food}}</p>
                 </div>   
            </ng-template>
        </p-table>
    </div>
</div>