<div class="search-main">   
    <div class="search-container myflex">
        <div class="input-container">
            <p-floatlabel>
                <input id="searchBy" [(ngModel)]="searchValue" pInputText/>
                <label for="searchBy" ngModel="">Search</label>
            </p-floatlabel>
        </div>
        <div class="search-button-container">
            <p-splitbutton label="{{this.selectSearchBy}}" (onClick)="search()" [model]="items" severity="success" />
        </div>
    </div> 
    <p-toast/>
    <div class="card" *ngIf="searchResults.length > 0">
        <p-table [value]="searchResults"
                 selectionMode="single" 
                 [tableStyle]="{ 'min-width': '60rem' }"
                 [paginator]="true"
                 [rows]="7" 
                 dataKey="birdId">
            <ng-template #caption>
                <div class="flex items-center justify-between">
                    <span>Search Results</span>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th style="width: 5rem"></th>
                    <th>Name</th>
                    <th>Scientific Name</th>
                    <th>Specie</th>
                    <th>Size in Inches</th>
                    <th>Preview</th>
                </tr>
            </ng-template>
            <ng-template #body let-bird let-expanded="expanded">
                <tr>
                    <td>
                        <p-button type="button" pRipple [pRowToggler]="bird" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                    </td>
                    <td>{{ bird.name }}</td>
                    <td>{{ bird.scientificName }}</td>
                    <td>{{ bird.specieName }}</td>
                    <td>{{ bird.birdFact.sizeInInches}}"</td>
                    <td>
                        <img
                            src="/bird/main/{{bird.img}}"
                            [alt]="bird.name"
                            class="bird-item-image"
                        />
                    </td>
                </tr>
            </ng-template>
            <ng-template #expandedrow let-bird>
                <td colspan="6" (click)="goToBird(bird.birdId)">
                    <div class="expanded-row">
                        <div class="bird-item-image-container">
                            <img
                                src="/bird/main/{{bird.img}}"
                                [alt]="bird.name"
                                class="bird-item-expanded-image"
                            />
                        </div>
                        <div class="bird-item-fact-container">
                            <p class="secondary-label">Name</p>
                            <p class="primary-label label-bold">{{bird.name}}</p>
                            <p class="secondary-label">Food</p>
                            <p class="primary-label label-bold">{{bird.birdFact.food}}</p>
                        </div>
                    </div>
                </td>
            </ng-template>
        </p-table>
    </div>
</div>