.myflex {
    display: var(--display-flex);
    gap: 0.50rem;
    padding-top: 3rem;
    justify-content: center;
}

.search-main {
    height: 86vh;
}
.input-container {
    width: 50%;
}

.p-inputtext {
    width: 100%;
}

.bird-item-image {
    width: 125px; 
    height: 100px; 
    object-fit:cover;
    border-radius: 5px;
}