:host ::ng-deep {
    .category-Icon{
      width: 1rem;
      height: 1rem;
      background-image : url("/category.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .specie-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/specie.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .nest-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/nest.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .habitat-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/starling-box.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .home-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/home.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .binoculars-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/binoculars.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .profile-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/profile.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .view-profile-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/viewprofile.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .settings-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/settings.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .logout-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/logout.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

  }
  
  :host ::ng-deep .p-panelmenu{
    width : 12rem !important;
}