<div class="stats-container myflex">
    <div class="specie-count item-count">
        <div class="stat-header">
            <p>Species</p>
            <i class="specie-Icon"></i>
        </div>
        <div class="stat-detail myflex">
            <span style="font-size: xx-large;"><h1>{{birAppStats.totalSpecies}}</h1></span>
        </div>
    </div>
    <div class="bird-count item-count">
        <div class="stat-header">
            <p>Birds</p>
            <i class="bird-Icon"></i>
        </div>
        <div class="stat-detail myflex">
            <span style="font-size: xx-large;"><h1>{{birAppStats.totalBirds}}</h1></span>
        </div>
    </div>
</div>