:host ::ng-deep .p-card {
    position: relative;
    justify-items: center;
}

:host ::ng-deep .p-card-footer {
    position: absolute;
    bottom: 1rem; 
    width: 90%; 
  }

  :host ::ng-deep .p-card-body {
    gap: 0.1rem; 
  }


  :host ::ng-deep .p-card-header {
    width: 320px;
    height: 200px;
    overflow: hidden;
  }