<div class="mb-4 flex items-center justify-center">
    <p-card [style]="{ width: '20rem', overflow: 'hidden', height: '25rem' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="/specie/{{specie.thumbnail}}" />
        </ng-template>
        <ng-template #title>{{specie.description}}</ng-template>
        <p>
           <span style="font-size:small">{{ specie.shortDescription }}</span>         
        </p>
        <ng-template #footer>
            <div class="gap-4 mt-1">
                <p-button (click)="op.toggle($event)" label="View" class="w-full" styleClass="w-full"/>
                <p-popover #op>                    
                    <div class="gap-4 w-[25rem] popover-container">                     
                        <div>                           
                        
                            <p-autocomplete [(ngModel)]="selectedBird" 
                                [forceSelection]="true" 
                                [suggestions]="filteredBirds" 
                                (completeMethod)="filterBirds($event)" 
                                optionLabel="Bird"
                                field="birdName"
                                [size]="'small'"
                                (onClear)="resetBirds()"
                                placeholder="{{specie.description}}" />  

                            <!--<p-inputgroup>
                                <input pInputText placeholder="{{specie.description}}"/>
                                <button pButton icon="pi pi-search"></button>
                            </p-inputgroup>
                            -->
                        
                        </div>
                        <div>                           
                            <ul class="list-none p-0 m-0 gap-4">
                                @for(bird of birds; track bird) {
                                 <div class="bird-item">   
                                    <li class="flex items-center gap-2 bird-item-list">
                                        <div class="bird-item-container">
                                            <div>
                                                <img class="bird-item-image"src= "/bird/main/{{ bird.img }} "/>                                    
                                            </div>
                                            <div>
                                                <span class="font-medium">{{ bird.name }}</span>
                                                <div class="bird-item-sciName">{{ bird.scientificName }}</div>
                                            </div>
                                        </div>                                 
                                    </li>
                                </div>
                                }
                            </ul>
                        </div>
                    </div>
                </p-popover>
            </div>
        </ng-template>
    </p-card>
</div>