<div class="bird-component-container">
    <!-- Header Image -->
  
    <!-- Content Section -->
    <div class="content-section">
      <!-- Circular Bird Image -->
        <div class="bird-left-container"> 
          <div class="bird-image-container" style="background-image: url('/bird/main/{{birdWithFact.img}}')">
          </div>
          <div class="bird-info-container">
            <div class="bird-fact-container">
              <img src="/birdLabel.png" alt="Location" class="location-icon" />
              <p class="bird-label">Name</p>
            </div>
            <p class="primary-label label-bold indent-1rem">{{birdWithFact.name}}</p>
            <div class="bird-fact-container">
              <img src="/birdScientific.png" alt="Location" class="location-icon" />
              <p class="bird-label">Scientific Name</p>            
            </div>
            <p class="secondary-label label-bold indent-1rem">{{birdWithFact.scientificName}}</p>
            <div class="bird-fact-container">
              <img src="/birdMeasure.png" alt="Location" class="location-icon" />
              <p class="bird-label">Average Size</p>            
            </div>
            <p class="secondary-label label-bold indent-1rem">{{birdWithFact.birdFact?.sizeInInches}}"</p>
          </div>
        </div>
      <div class="card">
        <p-accordion [value]="['0','1','2','3']" [multiple]="true">
            <p-accordion-panel value="0">
                <p-accordion-header>
                  <span class="flex items-center gap-2 w-full">
                    <p-avatar image="/information.png" shape="circle" />
                    <span class="font-bold whitespace-nowrap">Description</span>                 
                </span>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                      {{birdWithFact.birdFact?.shortDescription}}
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="1">
              <p-accordion-header>
                <span class="flex items-center gap-2 w-full">
                  <p-avatar image="/fact.png" shape="circle" />
                  <span class="font-bold whitespace-nowrap">Key Facts</span>                 
                </span>
              </p-accordion-header>
              <p-accordion-content>
                  <p class="m-0">
                    {{birdWithFact.birdFact?.keyFact}}
                  </p>
              </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="2">
              <p-accordion-header>
                <span class="flex items-center gap-2 w-full">
                  <p-avatar image="/starling-box.png" shape="circle" />
                  <span class="font-bold whitespace-nowrap">Habitat</span>                 
                </span>
              </p-accordion-header>
              <p-accordion-content>
                  <p class="m-0">
                    {{birdWithFact.birdFact?.habitat}}
                  </p>
              </p-accordion-content>
          </p-accordion-panel>
          <p-accordion-panel value="3">
              <p-accordion-header>
                <span class="flex items-center gap-2 w-full">
                  <p-avatar image="/nest.png" shape="circle" />
                  <span class="font-bold whitespace-nowrap">Food</span>                 
                </span>
              </p-accordion-header>
              <p-accordion-content>
                  <p class="m-0">
                    {{birdWithFact.birdFact?.food}}
                  </p>
              </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      </div>
    </div>     

    
</div>