* {
  box-sizing: border-box;
}
.bird-component-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .bird-left-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;   
    border-radius: .5rem;  
    background-color:  #F0EADC;

  } 

  .bird-info-container  {
    p{
      line-height: 1.65; 
      word-wrap: break-word;
      overflow-wrap: break-word;
      margin: 0;
    }
    padding-left : 1rem;
    padding-bottom : 1rem;
  }

  .bird-fact-container {
    display: flex;
    gap : 0.5rem;
    align-items: center;
  }

  .indent-1rem {
    padding-left: var(--label-indent);
  }

  .primary-label {
    font-size: var(--label-primary-font-size);
    color: var(--label-font-color);
  }

  .secondary-label {
    font-size: var(--label-secondary-font-size);
    color: var(--label-font-color);
  }

  .bird-label {
      font-size: var(--label-description-font-size);
      color: var(--label-description-font-color);
  }
   .header-label {    
    color: #ccc;
  }

  .label-bold {
    font-weight: var(--label-bold-font-weight);
  }
  
  .content-section {
    display: flex;
    gap: 1rem;   
  }
  
  .bird-image-container {
    width: 300px;
    height: 300px;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    overflow: hidden;    
    min-width: 200px;
    object-fit: cover; 
    background-size: cover; /* Ensures the image covers the whole div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  
  }
  
  .bird-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .items-center {
    display: flex;
    align-items: center;
  }

  
  .text-content h2 {
    margin: 0;
    font-size: 1.5rem;
  }

  :host ::ng-deep {
    
    .description-icon {
      background-image: url('/information.png');
    }
    
    .fact-icon {
      background-image: url('/fact.png');
    }

    .habitat-icon {
      background-image: url('/starling-box.png');
    }

    .food-icon {
      background-image: url('/nest.png');
    }
    .custom-icon {
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 0.5rem;
      vertical-align: middle;
    }

    
  }

