.parent {
    display: flex;
    height: 100vh;  
    gap: 1rem; 
}


.header {
    
    background-color: rgb(230, 241, 235);
    border-bottom: 1rem solid #FFF;
    align-items: center;
    display: flex;   
    color: #FFF;
    padding-left: 1rem;    
}