
<div class="login-parent">
    <div class="login-input">
        <p-floatlabel variant="on">
            <input pInputText id="on_label" [(ngModel)]="userName" autocomplete="off" />
            <label for="on_label">User Name</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
           <p-password [toggleMask]="true" [(ngModel)] = "passWord"></p-password>
            <label for="on_label">Password</label>
        </p-floatlabel>

        <div class="card flex justify-center">
            <p-button label="Submit" (onClick)="onSubmit()" />
        </div>

    </div>
</div>