
<div class="login-parent">

    <div class="login-input">
        <div class="card flex">
            <span class="hummingbird-Icon"></span>
        </div>
        <p-floatlabel variant="on">
            <input pInputText id="on_label" [(ngModel)]="userName" autocomplete="off" />
            <label for="on_label">User Name</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
           <p-password [toggleMask]="true" [(ngModel)] = "passWord"></p-password>
            <label for="on_label">Password</label>
        </p-floatlabel>

        <div class="card flex justify-center">
            <p-button label="Submit" (onClick)="onSubmit()" />
        </div>

    </div>
</div>

 <p-dialog header="UnAuthorized" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">UserName and/or Password is Invalid!</span>
    <div>
        <p-button label="Ok" (click)="visible = false" />
    </div>
 </p-dialog>