@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html,
body{

    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing:auto;
    font-style:normal;
}

:root {
    --label-description-font-size: medium;
    --label-description-font-color: darkgray;
    --label-primary-font-size: x-large;
    --label-secondary-font-size: larger;
    --label-primary-preview-font-size: medium;
    --label-secondary-preview-font-size: small;
    --label-bold-font-weight: bolder;
    --label-indent: 2rem;
    --label-font-color: #757373;
    --display-flex: flex;
    --display-flex-gap: 1rem;
    --display-flex2-gap: 0.35rem;
    --border-color : #ccc;
    --border-thickness : 2px;
}