:host ::ng-deep {
  .shuffle-icon{
    width: 1rem;
    height: 1rem;
    background-image : url("/shuffle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Style each item in the dropdown */
  .ui-autocomplete-items .ui-autocomplete-list-item {
    padding: 10px;
    font-size: 14px;
    color : blue;
    cursor: pointer;
    
  }
}
.main-container {
  padding-bottom: 1rem;
}
.species-container {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
 }

.Species-search, .Species-refresh {
  display: flex;
  justify-content: center; /* Align items horizontally */
  margin-bottom: .50rem;
  align-items: center; /* Align items vertically */
  gap: 0.20rem;
}

.Species-control {
  display: flex;
  justify-content : space-between;
}