<div class="profile-card justify-center">
  <p-toast />
  <div class="one-column">
    <div class="profile-header">
      <div class="avatar">
          <img src="userprofile.png" class="back-button" alt="Back" />
      </div>   
      <div class="info">
        <div>
          <h3>{{ user.firstname.trim() }} {{ user.lastname.trim() }}</h3>
        </div>
        <div>
          <span style="font-size: small; color: gray;">{{ user.email }}</span>
        </div>
      </div>
    </div>
    <div>
        <p-speeddial [model]="items" direction="left" [style]="{ top: 'calc(50% - 2rem)', left: 0 }" />
    </div>
  </div>


  <div class="info-group two-column">
      <div>
        <div class="label-with-icon">
            <i class="view-profile-Icon"></i>
            <label for="userName">User Name</label>
          </div>
          <input pInputText id="userName" [(ngModel)]="this.user.username" [disabled]="true" style="background-color: rgb(245, 245, 245);" />
      </div>
       <div>
          <div class="label-with-icon">
            <i class="mail-Icon"></i>
            <label for="email">E-mail</label> 
          </div>
          <input pInputText id="email" [(ngModel)]="this.user.email" />
      </div>
  </div>  
  <div class="info-group three-column">
      <div>
          <label for="lastName">Last Name</label>
          <input pInputText id="lastName" [(ngModel)]="this.user.lastname" />
      </div>
      <div>
          <label for="firstName">First Name</label>
          <input pInputText id="firstName" [(ngModel)]="this.user.firstname" />
      </div>

   </div>
</div>
<div class="card flex justify-center">
    <p-confirmdialog>
        <ng-template #message let-message>
            <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
                <p>{{ message.message }}</p>
            </div>
        </ng-template>
    </p-confirmdialog>
</div>

<div class="flex update-password-container" [formGroup] = "passswordForm">
    <p-dialog [modal]="true" [(visible)]="confirmPasswordDialogVisible" [style]="{ width: '30rem' }">

      <ng-template pTemplate="header">
        <i class="passwordReset-xl-Icon"></i>
        <span class="text-xl font-semibold">Update Password</span>
      </ng-template>
      <div class ="up-form" >
        <div class="input-label-group mb-2">
              <label for="currentPassword" class="font-semibold w-24">Current</label>
              <p-password [toggleMask]="true" formControlName="currentPassword"/>        
        </div>
        <div class="input-label-group mb-2">
              <label for="newPassword" class="font-semibold w-24">New</label>
              <p-password [toggleMask]="true" formControlName="confirmPassword"/>
        </div>
        <div class="input-label-group mb-2">
            <label for="newPassword-confirm" class="font-semibold w-24">Confirm</label>          
            <p-password [toggleMask]="true" formControlName="newPassword"/>
        </div>
      </div>

      <div class="flex gap-1 justify-content-end mt-3 ">
          <p-button label="Cancel" severity="secondary" (click)="confirmPasswordDialogVisible = false" />
          <p-button label="Save" (click)="updatePassword()" />
      </div>
    </p-dialog>
</div>

<div class="flex bad-password-container">
 <p-dialog [modal]="true" [(visible)]="badPassword" [style]="{ width: '25rem' }">
    <div class="flex flex-column align-items-center justify-content-center gap-5">
        <span>Password and Confirm password dont match!</span>
    </div>
    <div class="justify-content-center flex mt-4">
        <p-button label="Try again" (click)="badPassword = false" severity="danger" [raised]="true"/>
    </div>
 </p-dialog>
</div>