.profile-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px; 
  background-color: #f9f9f9;
  height: 32vh;
  width: 44.50vw;
  gap: 0.75rem;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.one-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  background: #f0f0f0;
}

.label-with-icon {
  display: flex;
  align-items: center;
  gap: 0.50rem;
  justify-items: center;
}

.avatar {
  display: flex;
  width: 80px;    /* Set desired avatar width */
  height: 80px;   /* Set desired avatar height */
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info {
  line-height: 0.50rem;
}

.info-group  {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  input,
  select,
  textarea
    {
      max-width: 100%;  
      box-sizing: border-box;
      width: 25rem;     
    }
  > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}

:host ::ng-deep {

 .logout-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/logout.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .passwordReset-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/reset-password.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .edit-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/edit.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

     .mail-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/mail.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .passwordReset-xl-Icon {
      width: 2rem;
      height: 2rem;
      background-image: url("/reset-password-xl.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

     .view-profile-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/viewprofile.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .activity-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/online-activity.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .login-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/login.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .update-password-Icon {
      width: 1rem;
      height: 1rem;
      background-image: url("/update-password.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

  .custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    z-index: 1; /* Ensures the marker is above the connector line */
  }
  .input-label-group {
      display: flex;
      align-items: center;      
      gap: 0.50rem;
      justify-items: center;
      label {
        width: 5rem; 
        text-align: left ; 
      }

       .p-password {
         input {
          width: 21rem; 
          box-sizing: border-box;
          max-width: 100%;
        }        
      }
    }

  } 

.pw-legend {
  display: block;
  margin-top: -10px
} 
  .pw-list {
  list-style: none;
  padding-left: 0;
}

.pw-list li {
  margin-bottom: 0.25rem; 
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pw-list-icon {
  color: #21f333; /* or any color you prefer */
  font-size: 1rem;
}

.pi-times-circle {
  color: #f32160; /* or any color you prefer */
  font-size: 1rem;
}

.pw-legend h5 {
  margin-bottom: 0.50rem;
}





  

